<html>
    <head>
        <title>A Music Player</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <script src="../js/jquery-2.0.3.min.js"></script>   
        <script src="../js/main.js"></script>
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="../js/underscore-min.js"></script>    
    </head>
    <body>

        <!-- This page will display then albums for user to select -->            
        <!--This will display either Genre Type, Album Name, or Artist Name-->
        <!-- start of an experiment to slide the option to the left-->
        <div id="contentSubOne">
            <div id="albums"></div>
            <div id="browse"></div> <!-- this div will display to the right with more info -->
        </div>

        <div id="info"></div>

        <!--clear floats and whatever-->
        <div style="clear:both; width:100%" ></div>

        <!--Search--> 
        <div id="search">
            <div>Search for</div>
            <div>Title: <input id="txtSearch" /></div>
            <div><input id="btnSearch" type="button" value="search" /></div>
        </div>            

        <script id="homePage" type="text/x-handlebars-template">
            Its {{name}}! Just listening to music and stuff.
        </script>   


        <!-- home jpage list of albums template -->
        <script id="albumLinks" type="text/x-handlebars-template">
            <ul class="album_list">
            {{#each albums}}
            <li class="albumLink" data-id="{{this.id}}">
            {{this.artist }} -
            {{this.title}} -
            {{this.date}} - 
            {{this.image}}
            </li>
            {{/each}}	
            </ul>
        </script>  

        <!-- albums links IT WORKED!! -->
        <!-- this will create the links to display all albums from albumTitle array created in JSON -->
        <script id="albumsLinks" type="text/x-handlebars-template">
            <ul class="albums_links">
            {{#each this}}
            <li class="albumsLink">{{this}}</li>
            {{/each}}
            </ul>
        </script>
        <!-- this script above should display a list of albums to click.. ->

        <!-- genre links -->
        <script id="genreLinks" type="text/x-handlebars-template">
            <ul class="genre_links">
            {{#each this}}
            <li class="genreLink">{{this}}</li>
            {{/each}}
            </ul>
        </script>

        <!-- album info template -->
        <script id="albumInfo" type="text/x-handlebars-template">
            <div>
            <div class="albumArtist">{{artist}}</div> 
            <div class="albumTitle">{{title}}</div>
            <div class="albumDate">{{date}}</div>  
            <h1>Tracks</h1>
    {{#each tracks}}
    <li class="tracksLink">{{albums.tracks}}</li>
    {{/each}}
            </div>
        </script>      

        <!-- album info template -->
        <script id="artistLinks" type="text/x-handlebars-template">
            <ul class="artist_links">
            {{#each this}}
            <li class="artistLink">{{this}}</li>
            {{/each}}
            </ul>
        </script>          

        <script>
var albums;


$(document).ready(function() {

//below starts getting information from JSON file                    

    //cached DOM references
    var infoDiv = $("#info");
    var browseDiv = $("#browse");
    var albumsDiv = $("#albums");


    //templates
    //var hompageTemplate = Handlebars.compile($("#homePage").html());
    var albumLinkTemplate = Handlebars.compile($("#albumHomeLinks").html());//this displays info to browse div
    var albumInfoTemplate = Handlebars.compile($("#albumInfo").html());
    //below is compile for albumsTitle array to display on albums page
    var albumsLinkTemplate = Handlebars.compile($("#albumsLinks").html());



    $.getJSON('data/data.json', function(data) {
        albums = data.albums;
        image = albums.image;
        //tracks = albums.tracks.name;


        //$("#content").append(albumLinkTemplate(data));//this should only go on homepage
        // genreDiv.html(genreLinkTemplate(data.genres));
        albumsDiv.html(albumsLinkTemplate(data.albumTitle));//this worked!!!
        //artistDiv.html(artistLinkTemplate(data.artist));

    });


    //Run this function whenever a element with class 'albumLink' is clicked if its in the content div, works for any now or in the future
    $("#albums").on("click", ".albumLink", function() {
        var albumInfo = _.findWhere(albums, {id: $(this).data('id')});
        albumsinfoDiv.html(albumInfoTemplate(albumInfo));
        console.log(albums[$(this).data('id')]);


        //get the data
        var templateData = albums[$(this).data('id')]
        //generate html
        var toAdd = albumInfoTemplate(templateData);
        //show in infor div
        infoDiv.html(toAdd);

        //infoDiv.html(bookInfoTemplate(books[$(this).data('id')]));
    });

    //this finds id when you click on albums and displays in #browse
    //IT WORKS!!!!
    $("#albums").on("click", ".albumsLink", function() {
        var albumToFind = $(this).html();
        var results = {};

        results.albums = _.where(albums, {title: albumToFind});

        browseDiv.html(albumLinkTemplate(results));
    });




    $("#btnSearch").click(function() {
        //get the search term
        var searchTerm = $("#txtSearch").val();
        //object to store any results
        var results = {
            albums: []
        };

        //loop through all of our albums
        results.albums = _.filter(albums, function(item) {
            //return (item.title.indexOf(searchTerm) != -1);
            var titleSplit = item.title.split(" ");
            return _.find(titleSplit, function(titleWord) {
                return titleWord.toUpperCase() == searchTerm.toUpperCase();
            });
        });

        browseDiv.html(albumLinkTemplate(results));

    });
});
        </script>          



    </body>
</html>